<a href="https://colab.research.google.com/github/2303A51929/1929_batch-30_PDS/blob/main/lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

customers = pd.DataFrame({
    'customer_id': [101, 102, 103, 104],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'city': ['Hyderabad', 'Bangalore', 'Hyderabad', 'Chennai']
})

transactions = pd.DataFrame({
    'transaction_id': [1, 2, 3, 4, 5, 6],
    'customer_id': [101, 102, 101, 103, 104, 102],
    'amount': [2500, 1800, 1200, 3000, 2100, 1500]
})

merged = pd.merge(transactions, customers, on='customer_id')
print("\nMerged Dataset:\n", merged)

customer_spend = merged.groupby(['customer_id','name'])['amount'].sum().reset_index()
customer_spend.rename(columns={'amount':'total_spend'}, inplace=True)
print("\nTotal Spend Per Customer:\n", customer_spend)

city_spend = merged.groupby('city')['amount'].sum().reset_index()
city_spend.rename(columns={'amount':'city_total_spend'}, inplace=True)
print("\nCity-wise Spending:\n", city_spend)

top_spender = customer_spend.loc[customer_spend['total_spend'].idxmax()]
print("\nTop Spender:\n", top_spender)

Merged Dataset:
    transaction_id  customer_id  amount     name       city
0               1          101    2500    Alice  Hyderabad
1               2          102    1800      Bob  Bangalore
2               3          101    1200    Alice  Hyderabad
3               4          103    3000  Charlie  Hyderabad
4               5          104    2100    Diana    Chennai
5               6          102    1500      Bob  Bangalore

Total Spend Per Customer:
    customer_id     name  total_spend
0          101    Alice         3700
1          102      Bob         3300
2          103  Charlie         3000
3          104    Diana         2100

City-wise Spending:
         city  city_total_spend
0  Bangalore              3300
1    Chennai              2100
2  Hyderabad              6700

Top Spender:
 customer_id      101
name           Alice
total_spend     3700
Name: 0, dtype: object

In [2]:
import pandas as pd

patients = pd.DataFrame({
    'patient_id': [1, 2, 3, 4],
    'name': ['Ravi', 'Sneha', 'Amit', 'Priya'],
    'age': [45, 30, 55, 40]
})

appointments = pd.DataFrame({
    'appt_id': [11,12,13,14,15,16,17],
    'patient_id': [1,2,1,3,3,3,4],
    'doctor': ['Dr.A','Dr.B','Dr.C','Dr.A','Dr.B','Dr.A','Dr.C'],
    'date': ['2025-09-01','2025-09-02','2025-09-05',
             '2025-09-01','2025-09-03','2025-09-06','2025-09-04']
})

merged_health = pd.merge(appointments, patients, on='patient_id')
print("\nMerged Dataset:\n", merged_health)

appt_per_patient = merged_health.groupby(['patient_id','name'])['appt_id'].count().reset_index()
appt_per_patient.rename(columns={'appt_id':'appointment_count'}, inplace=True)
print("\nAppointments per Patient:\n", appt_per_patient)

doctor_workload = merged_health.groupby('doctor')['appt_id'].count().reset_index()
doctor_workload.rename(columns={'appt_id':'total_appointments'}, inplace=True)
print("\nDoctor Workload:\n", doctor_workload)

max_patient = appt_per_patient.loc[appt_per_patient['appointment_count'].idxmax()]
print("\nPatient with Maximum Visits:\n", max_patient)

Merged Dataset:
    appt_id  patient_id doctor        date   name  age
0       11           1   Dr.A  2025-09-01   Ravi   45
1       12           2   Dr.B  2025-09-02  Sneha   30
2       13           1   Dr.C  2025-09-05   Ravi   45
3       14           3   Dr.A  2025-09-01   Amit   55
4       15           3   Dr.B  2025-09-03   Amit   55
5       16           3   Dr.A  2025-09-06   Amit   55
6       17           4   Dr.C  2025-09-04  Priya   40

Appointments per Patient:
    patient_id   name  appointment_count
0           1   Ravi                  2
1           2  Sneha                  1
2           3   Amit                  3
3           4  Priya                  1

Doctor Workload:
   doctor  total_appointments
0   Dr.A                   3
1   Dr.B                   2
2   Dr.C                   2

Patient with Maximum Visits:
 patient_id              3
name                 Amit
appointment_count       3
Name: 2, dtype: object